__pycache__/

*.png
*.json
*.txt
!assets/**
!map_tools/*
!base_maps/**
!scenarios/**
!context/**
!version.txt

assets/music/*
!assets/music/Greater Diplomacy 1/
!assets/music/Greater Diplomacy 2/
!assets/music/Greater Diplomacy 3/
!assets/music/Greater Diplomacy 4/
!assets/music/Greater Diplomacy 5/

context/combined_scripts.txt

build
dist
multiplayer_saves
scenarios/map_editor
main.spec

*.pyc
!countries_data.json
!unit_data.json
!research_template.json
!building_data.json