__pycache__/

*.png
*.json
*.txt
!assets/**
!map_tools/*
!base_maps/**
!context/**
context/combined_scripts.txt
*.mp3

music
build
dist
main.spec

*.pyc
!countries_data.json
!unit_data.json
!research_template.json
!building_data.json

