__pycache__/

*.png
*.json
!assets/*
!assets/flags/*
!assets/portraits/*
!map_tools/*
!base_maps/**
*.pyc
!countries_data.json
!settings_config.json
!unit_data.json
!research_template.json
!building_data.json
*.txt